@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card">
    <div class="card-header">
        <img src="~/images/perfil.jpg" alt="Foto de perfil" width="150" height="150">
        <div class="row d-flex text-center w-100">
            <h2>FERNANDO GAMBOA</h2>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <a href="/" class="btn btn-link">
                        Inicio
                    </a>
                </div>
                <div class="col-md-6 text-center">
                    <a href="/ExperienciaLaboral" class="btn btn-link">Experiencia Laboral</a>
                </div>
            </div>
        </div>
        
        <hr>
        <kbd class="h1 text-uppercase">Formacion Academica</kbd>
        
        <div class="grid">
            <hr />
            <div class="row">
                <h4 class="text-uppercase fw-bold">
                    UNIVERSIDAD TECNOLógICA DE LEÓN
                </h4>
                <h5 class="text-uppercase fw-bold text-primary">
                    INGENIERIA EN DESARROLLO Y GESTION DE SOFTWARE
                </h5 >
                <span class="text-uppercase">CURSANDO</span>
                <h5 class="text-uppercase fw-bold text-primary">
                    Técnico Superior Universitario
                    en desarrollo de software multiplataforma
                </h5>
                
                <span class="text-uppercase">2021-2023</span>

            </div>
            <hr />
            <div class="row">
                <h4 class="text-uppercase fw-bold">
                    COLEGIO DE ESTUDIOS CIENTIFICOS Y TECNOLOGICOS DEL ESTADO DE GUANAJUATO
                </h4>
                <h5 class="text-uppercase fw-bold text-primary">
                    TÉCNICO EN PROGRAMACIÓN
                    (TITULADO)
                </h5>                
                <span class="text-uppercase">2018-2021</span>
                
            </div>
        </div>

    </div>
</div>
