html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.card {
    max-width: 600px;
    margin: 50px auto;
}

.card-header {
    display: flex;
    align-items: center;
}

    .card-header img {
        border-radius: 50%;
        margin-right: 20px;
    }

    .card-header h2 {
        margin: 0;
    }


.skills {
    display: flex;
    flex-direction: column;
    align-items: start;    
    max-width: 300px;
}

.skill-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

    .skill-item i {
        margin-right: 10px;
        font-size: 1.5rem;
    }
