@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card">
    <div class="card-header">
        <img src="~/images/perfil.jpg" alt="Foto de perfil" width="150" height="150">
        <div class="row d-flex text-center w-100">
            <h2>FERNANDO GAMBOA</h2>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 text-center">
                <a href="/" class="btn btn-link">
                    Inicio
                </a>
            </div>
            <div class="col-md-6 text-center">
                <a href="/PreparacionAcademica" class="btn btn-link">Preparacion Academica</a>
            </div>
        </div>
        <hr>
        <kbd class="h2 text-uppercase">Formacion Academica</kbd>
        <div class="grid">
            <hr />
            <div class="row">
                <h2 class="text-uppercase fw-bold text-primary">
                    Desarrollador JR
                </h2>
                <span class="text-uppercase fw-bold h3">
                    Grupo Castores
                </span>
                <span class="text-uppercase">2023-Actual</span>
                <p class="text-uppercase" style="text-align: justify">
                    DESARROLLO Y MANTENIMIENTO DE SISTEMAS INTERNOS PARA LA MEJORA Y EFICIENCIA DE LAS ACTIVIDADES DE LOS DEPARTAMENTOS DE LA EMPRESA
                </p>                
            </div>
            <hr />
            <div class="row">
                <h2 class="text-uppercase fw-bold text-primary">
                    Desarrollador web
                </h2>
                <span class="text-uppercase fw-bold h3">
                    MetaConsultores
                </span>
                <span class="text-uppercase">2021-2023</span>
                <p class="text-uppercase" style="text-align: justify">
                    Desarrollo de interfaces y funcionamiento del sistema Foqus  Control de Documentos para Sistemas de Gestion de Calidad, desarrollo de componentes en angular, ademas del diseño mediante CSS y bootstrap
                </p>
                

            </div>
        </div>

    </div>
</div>